html,body {
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	flex: 1 1 auto;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

 ul, p, a {
	padding: 0;
	margin: 0;
}

.container{
	margin: 0 auto;
	max-width: 953px;
	padding: 0 10px;
}

/* 	header start */
.header__block-nav{
	height: 88px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #828282;
}

.menu {
	text-decoration: none;
}

.menu:last-child{
	margin-right: 0;
}

.menu__list {
	list-style: none;
}
.menu__list-item {
	display: inline-block;
	margin-right: 150px;
}

.menu__list-item:last-child{
	margin-right: 0;
}

.menu__list-item a{
	text-decoration: none;
	color: #828282;
}

.menu__list-item a:hover, .menu__list-item--active a{
	color: #070707;
}
/* header end */

/* intro start */
.intro__block{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.intro__block--adaptive {
	display: none;
}

.intro__title{
	font-size: 47px;
	line-height: 59px;
	color: #070707;
	align-self: flex-end;
	margin: 40px 0 0 0;
}

.intro__proffesion{
	color: #070707;
	align-self: flex-end;
}

.intro__lng{
	align-self: flex-end;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
}

.intro__lng a{
	text-decoration: none;
	color: #000000;
}

.intro__lng-ru a{
	color: #828282;
	border-bottom: 2px solid#000000;
	padding-bottom: 4px;
}

.intro__lng-ru:hover a{
	color: #000000;
}

.hamb{
	display: none;
}


.intro__picture img{
	margin-bottom: 52px;
	max-width: 100%;
}

.intro__picture-mobile {
	display: none;
}
/*  intro end */

/* about start */
.about {
	padding-top: 52px;
}

.about__inner{
	text-align: center;
	padding-bottom: 107px;
	background: #F6F6F6;
}

.about__title{
	text-align: center;
	padding-top: 120px;
	margin: 0px 0 18px 0;
	font-size: 34px;
	line-height: 42px;
}

.about__text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 218px;
}
/* about end */

/* skills start */
.skills{
	padding-top: 91px;
}

.skills__title{
	text-align: center;
	font-size: 34px;
	line-height: 42px;
	margin-bottom: 70px;

}

.skills__subtitle{
	text-align: center;
	margin-bottom: 83px;
}

.skills__pictures-wrap{
	display: flex;
	justify-content: space-between;
	margin-bottom: 111px;
}

.picture__wrap-item{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.picture__wrap-text{
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
	margin-top: 24px;
}

.picture__block-items {
	margin-top: 40px;
}

.picture__wrap-element{
	margin-right: 9px;
}

.picture__wrap-element:last-child{
	margin-right: 0;
}
/* skills end */

/* portfolio start */
.portfolio{
	padding-top: 111px;
}

.portfolio__title{
	text-align: center;
	margin-bottom: 47px;
}

.portfolio__items{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio__item-link{
	text-align: center;
	color: #070707;
	text-decoration: underline;
	margin: 44px 0 100px 0;
}
/* portfolio end */

/* contacts start */
.contacts{
	margin-top: 114px;
}

.contacts__inner{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacts__title{
	font-size: 34px;
	line-height: 42px;
	text-align: center;
}

.contacts__subtitle{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

.contacts__button{
	padding: 13px 30px 13px 28px;
	background-color: #070707;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	border-radius: 60px;
	text-align: center;
	margin-bottom: 85px;
    opacity: 1;
	transition: .3s;
}

.contacts__button:hover{
	box-shadow: 1px 3px 10px #000;
}
/* contacts end */

.footer {
	margin-top: auto;
}

.footer__inner{
	text-align: center;
}

.foooter__box-item{
	margin-right: 60px;
}

.foooter__box-item:last-child{
	margin: 0;
}

.footer__text{
	margin-top: 45px;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;
	margin-bottom: 123px;
}
/* footer end */